name: Tweet New Jobs
on:
  schedule:
    - cron: '0 12 * * *'  # Cada día a las 12 UTC
  workflow_dispatch:        # Permite ejecución manual

jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Run Twitter Bot
        env:
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          FIREBASE_PRIVATE_KEY: ${{ secrets.FIREBASE_PRIVATE_KEY }}
          FIREBASE_CLIENT_EMAIL: ${{ secrets.FIREBASE_CLIENT_EMAIL }}
          TWITTER_USER_ACCESS_TOKEN: ${{ secrets.IMITTER_USER_ACCESS_TOKEN }}  # Using your existing secret
        run: python jobs/fetch_jobs.py
